.dashboard_main {
  padding: 40px 40px;
  background: #f5f5f5;
  max-height: 100vh;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard_left {
  flex: 1;
  align-self: stretch;
  background-color: #000;
  border-radius: 30px;
  padding: 60px 0px 60px 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  h1 {
    font-family: $font-primary;
    font-weight: $font-weight-medium;
    font-size: 36px;
    color: #ffffff;
  }
  .navigation {
    margin-top: 60px;
    display: grid;
    gap: 40px;
    .inner_content {
      display: flex;
      gap: 20.46px;
      font-family: $font-primary;
      font-weight: $font-weight-normal;
      font-size: $font-size-medium;
      color: #ffffff;
    }
  }
  .footer {
    margin-top: 50px;
    display: grid;
    gap: 20px;
    p {
      font-family: $font-primary;
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
      color: #ffffff;
    }
  }
}
.dashboard_right {
  flex: 4.5;
  .header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: $font-primary;
      font-weight: $font-weight-medium;
      font-size: 24px;
      color: #000000;
    }
    .end_profile_section {
      display: flex;
      gap: 30px;
      align-items: center;
      .input_wrapper {
        width: 180px;
        position: relative;
        input {
          background: #ffffff;
          border-radius: 10px;
          height: 30px;
          width: 100%;
          padding: 0px 35px 0px 15px;
        }
        input::placeholder {
          font-family: $font-secondary;
          font-weight: $font-weight-normal;
          font-size: $font-size-small;
          color: #b0b0b0;
        }
        img {
          position: absolute;
          right: 15px;
          top: 9px;
        }
      }
    }
  }
}
.blocks_wrapper {
  margin-top: 40px;
  display: flex;
  gap: 16.84px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .block {
    padding: 20px;
    max-width: 221.05px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;

    img {
      height: 12px;
      position: absolute;
      right: 25px;
      top: 20px;
      height: 24px;
      object-fit: cover;
    }
    h3 {
      font-family: $font-secondary;
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
      color: #000000;
    }
    h4 {
      margin-top: 5px;
      font-family: $font-third;
      font-weight: $font-weight-medium;
      font-size: 14px;
      color: #000000;
    }
  }
  .DDEFE0 {
    background-color: #ddefe0;
  }
  .F4ECDD {
    background-color: #f4ecdd;
  }
  .EFDADA {
    background-color: #efdada;
  }
  .DEE0EF {
    background-color: #dee0ef;
  }
}
.end_section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  .piechart_wrapper {
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    .header {
      h3 {
        font-family: $font-primary;
        font-weight: $font-weight-medium;
        font-size: $font-size-medium;
        color: #000000;
        margin: 0px 0px 20px 40px;
        margin-top: 10px;
      }
    }
  }
  .piechart {
    display: flex;
    gap: 43px;
    align-items: center;
    justify-content: center;
    .wrapper {
      display: grid;
      gap: 10px;
    }
    .mapped-products {
      div {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .circle {
        width: 11px;
        height: 11px;
        border-radius: 100%;
      }
      h4 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 14px;
        color: #000000;
      }
      p {
        font-family: "Lato";
        font-weight: 400;
        font-size: 12px;
        color: #858585;
        margin-top: 5px;
      }
      .green {
        background-color: #98d89e;
      }
      .pink {
        background-color: #f6dc7d;
      }
      .yellow {
        background-color: #ee8484;
      }
    }
  }
  .meetings {
    width: 100%;
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 30px 35px 40px;
    display: grid;
    gap: 28px;
  }
  .meet-header {
    display: flex;
    justify-content: space-between;

    h4 {
      font-family: $font-primary;
      font-weight: $font-weight-medium;
      font-size: $font-size-medium;
      color: #000000;
    }
    p {
      font-family: $font-primary;
      font-weight: $font-weight-normal;
      font-size: $font-size-very-small;
      color: #858585;
    }
  }
  .schedule_wrapper {
    display: flex;
    gap: 15px;
    .colored-div-purple {
      border: 5px solid #6972c4;
    }
    .colored-div-green {
      border: 5px solid #9bdd7c;
    }
    h5 {
      font-family: $font-secondary;
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
      color: #666666;
    }
    p {
      font-family: $font-secondary;
      font-weight: $font-weight-normal;
      font-size: $font-size-very-small;
      color: #999999;
    }
  }
}

@media only screen and (min-width: 800px) {
  .dashboard_main {
    flex-direction: row;
  }
  .dashboard_right {
    .header {
      flex-direction: row;

      .end_profile_section {
        .header-user-icon {
          filter: invert(1);
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .dashboard_left {
    .footer {
      position: absolute;
      bottom: 40px;
      left: 50px;
      display: grid;
      gap: 20px;
    }
  }

  .blocks_wrapper {
    gap: 36.84px;
    .block {
      padding: 45px 25px 20px 25px;
      width: 221.05px;
      height: 120px;
      border-radius: 20px;
      position: relative;

      h4 {
        font-size: 24px;
      }
    }
  }
  .end_section {
    flex-direction: row;
  }
}
