.dashboard_main {
  padding: 40px 40px;
  background: #f5f5f5;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  display: flex;
  gap: 60px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard_left {
  flex: 1;
  align-self: stretch;
  background-color: #000;
  border-radius: 30px;
  padding: 60px 0px 60px 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  h1 {
    font-family: $font-primary;
    font-weight: $font-weight-medium;
    font-size: 36px;
    color: #ffffff;
  }
  .navigation {
    margin-top: 60px;
    display: grid;
    gap: 40px;

    .inner_content {
      display: flex;
      gap: 20.46px;
      font-family: $font-primary;
      font-weight: $font-weight-normal;
      font-size: $font-size-medium;
      color: #ffffff;
    }
  }
  .footer {
    position: absolute;
    bottom: 40px;
    left: 50px;
    display: grid;
    gap: 20px;
    p {
      font-family: $font-primary;
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
      color: #ffffff;
    }
  }
}
.dashboard_right {
  flex: 4.5;
  .header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: $font-primary;
      font-weight: $font-weight-medium;
      font-size: 24px;
      color: #000000;
    }
    .end_profile_section {
      display: flex;
      gap: 30px;
      align-items: center;
      .input_wrapper {
        width: 180px;
        position: relative;
        input {
          background: #ffffff;
          border-radius: 10px;
          height: 30px;
          width: 100%;
          padding: 0px 35px 0px 15px;
        }
        input::placeholder {
          font-family: $font-secondary;
          font-weight: $font-weight-normal;
          font-size: $font-size-small;
          color: #b0b0b0;
        }
        img {
          position: absolute;
          right: 15px;
          top: 9px;
        }
      }
    }
  }
}
.blocks_wrapper {
  margin-top: 40px;
  display: flex;
  gap: 36.84px;
  .block {
    padding: 45px 25px 20px 25px;
    width: 221.05px;
    height: 120px;
    border-radius: 20px;
    position: relative;
    img {
      position: absolute;
      right: 25px;
      top: 20px;
      height: 24px;
      object-fit: cover;
    }
    h3 {
      font-family: $font-secondary;
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
      color: #000000;
    }
    h4 {
      margin-top: 5px;
      font-family: $font-third;
      font-weight: $font-weight-medium;
      font-size: 24px;
      color: #000000;
    }
  }
  .DDEFE0 {
    background-color: #ddefe0;
  }
  .F4ECDD {
    background-color: #f4ecdd;
  }
  .EFDADA {
    background-color: #efdada;
  }
  .DEE0EF {
    background-color: #dee0ef;
  }
}
