@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "./variable.scss";
@import "./mixins.scss";
@import "./Signin.scss";
@import "./Dashboard.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
}
button {
  cursor: pointer;
}

.wrapper-container {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}
.line-chart-wrapper {
  background: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  padding: 30px 40px 40px 40px;
  display: grid;
  place-content: center;
  h3 {
    margin: 30px 0px 30px 0px;
    font-family: $font-primary;
    font-weight: 700;
    font-size: $font-size-regular;
    color: #000000;
  }
}
