@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "./variable.scss";
@import "./mixins.scss";
@import "./Signin.scss";
@import "./Dashboard.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
}
button {
  cursor: pointer;
}

.wrapper-container {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}
