$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;
$font-third: "Open Sans", sans-serif;
$font-size-very-small: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-medium: 18px;
$font-weight-normal: 400;
$font-weight-medium: 700;
